/* *{
   background-color: blue;
   font-family: 'Raleway', sans-serif;
} */
#landing-page {
    width: 100%;
    height: auto;
    padding: 0px 3em 3em 3em;
    position: relative;
 }
 .filter-div{
    height:6vh;
    width:100%;
 }
 .filter-button{ 
   position: absolute;
   left: 10vw;
 }
 
 #landing-container {
    display: flex;
    padding: 3em 2em 2em 2em;  
    margin-bottom: 2em;
    flex-direction: column;
    background-image: url('../images/colorful_paws.jpg');
    background-size: cover;
    width: auto;
 }
 
 #landing-header {
    font-size: 100px;
    letter-spacing: 3px;
    text-align: center;
    font-family: 'Righteous', cursive;
    text-shadow: 2px 2px 4px white
 }
 
 #card-content {
    padding: 8px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 10px
 }
 
 #dog-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 } 

 #dogcard-image {
    border-radius: 8px;
  } 

 .ui.card{
   width: 25%;
 }

 .ui.inverted.vertical.center.aligned.segment{ 
    min-height: 100vh; 
    padding: 1em 0em;
}
.dogs-page-header p {
   font-size:3vh;
   margin:0;
   padding:0;
   color: #80CAB1;
}

.dogs-page-header > p:first-child{
   font-size:10vh;
}